<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LAServlet</display-name>
    <servlet-name>LAServlet</servlet-name>
    <servlet-class>com.edu.LAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LAServlet</servlet-name>
    <url-pattern>/LAServlet</url-pattern>
  </servlet-mapping>
  <display-name>EduPortal</display-name>
  <welcome-file-list>
    <welcome-file>admin-students.jsp</welcome-file>
    <welcome-file>admin-students.html</welcome-file>
    <welcome-file>admin-students.htm</welcome-file>
    <welcome-file>admin-students.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LAClasses</display-name>
    <servlet-name>LAClasses</servlet-name>
    <servlet-class>com.edu.LAClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LAClasses</servlet-name>
    <url-pattern>/LAClasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LAServlet2</display-name>
    <servlet-name>LAServlet2</servlet-name>
    <servlet-class>com.edu.LAServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LAServlet2</servlet-name>
    <url-pattern>/LAServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LAStudentClasses</display-name>
    <servlet-name>LAStudentClasses</servlet-name>
    <servlet-class>com.edu.LAStudentClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LAStudentClasses</servlet-name>
    <url-pattern>/LAStudentClasses</url-pattern>
  </servlet-mapping>
</web-app>